@import "tailwindcss";

@layer base {
  body {
    background-color: #0a0a0c;
    color: #cbd5e1;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom dark sleek scrollbars */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0a0a0c;
  }
  ::-webkit-scrollbar-thumb {
    background: #232530;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #333647;
  }
}
